# Python / ROS 2
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# ROS 2 / colcon
build/
install/
log/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# ML artifacts
*.pt
*.onnx
*.engine

# Simulation / recording
*.bag
*.db3
